@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4545454545vw;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.l-inner {
  height: inherit;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .l-inner {
    max-width: 1150px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.c-pagetop {
  position: fixed;
  right: 20px;
  right: 1.25rem;
  bottom: 40px;
  bottom: 2.5rem;
  text-indent: -9999;
  margin: 0;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  .c-pagetop {
    right: 1.875rem;
    bottom: 2rem;
  }
}

.c-pagetop a {
  position: relative;
  display: inline-block;
  width: 45px;
  width: 2.8125rem;
  height: 45px;
  height: 2.8125rem;
  background-color: #fff;
  color: #333;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.c-pagetop a::before {
  border-top: 2px solid #333;
  border-right: 2px solid #333;
  position: absolute;
  color: #fff;
  top: 18px;
  top: 1.125rem;
  right: 10px;
  right: 0.625rem;
  left: 10px;
  left: 0.625rem;
  width: 20px;
  width: 1.25rem;
  height: 20px;
  height: 1.25rem;
  margin: auto;
  content: "";
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.c-pagetop a:hover {
  background-color: #333;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.c-pagetop a:hover::before {
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}

.c-contact__button {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .c-contact__button {
    margin-top: 3.75rem;
    max-width: 22.5rem;
  }
}

.c-button {
  width: 100%;
  background-color: #333;
  border: 1px solid #fff;
  display: block;
  font-size: 20px;
  font-size: 1.25rem;
  max-width: 335px;
  max-width: 20.9375rem;
  letter-spacing: 0.2em;
  padding: 10px 0;
  padding: 0.625rem 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 11;
}

.c-button::before {
  background-color: #fff;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: -1;
}

.c-button:hover {
  color: #333;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.c-button:hover::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.c-button.c-button--sp {
  display: block;
}
@media screen and (min-width: 768px) {
  .c-button.c-button--sp {
    display: none;
  }
}

.c-button.c-button--pc {
  display: none;
}
@media screen and (min-width: 768px) {
  .c-button.c-button--pc {
    display: block;
  }
}

.c-button--sub {
  width: 100%;
  background-color: #333;
  border: 1px solid #fff;
  color: #fff;
  display: block;
  font-size: 20px;
  font-size: 1.25rem;
  max-width: 335px;
  max-width: 20.9375rem;
  letter-spacing: 0.2em;
  padding: 10px 0;
  padding: 0.625rem 0;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 11;
}
@media screen and (min-width: 768px) {
  .c-button--sub {
    background-color: #fff;
    color: #333;
    font-size: 1rem;
    padding: 0.187rem 0;
  }
}

.c-button--sub::before {
  background-color: #fff;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .c-button--sub::before {
    background-color: #333;
  }
}

.c-button--sub:hover {
  color: #333;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media screen and (min-width: 768px) {
  .c-button--sub:hover {
    color: #fff;
  }
}

.c-button--sub:hover::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.c-hamburger {
  display: block;
  position: absolute;
  width: 24px;
  width: 1.5rem;
  height: 13px;
  height: 0.8125rem;
  right: 22px;
  right: 1.375rem;
  z-index: 9998;
}
@media screen and (min-width: 768px) {
  .c-hamburger {
    display: none;
  }
}

.c-hamburger span {
  display: block;
  position: relative;
  width: 100%;
  height: 2px;
  height: 0.125rem;
  background-color: #fff;
  border-radius: 4px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.c-hamburger span:nth-child(1) {
  top: 0;
}

.c-hamburger span:nth-child(2) {
  top: 7px;
  top: 0.4375rem;
}

.c-hamburger span:nth-child(3) {
  top: 14px;
  top: 0.875rem;
}

.c-hamburger.is-open span:nth-child(1) {
  top: 8px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.c-hamburger.is-open span:nth-child(2) {
  opacity: 0;
}

.c-hamburger.is-open span:nth-child(3) {
  top: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.p-bg-line {
  position: relative;
  z-index: -1;
}

.p-bg-line__first,
.p-bg-line__second {
  max-width: 1280px;
  max-width: 80rem;
  position: relative;
  width: 100%;
}

.p-bg-line__first::before {
  background-color: #F9F871;
  position: absolute;
  content: "";
  height: 1px;
  height: 0.0625rem;
  left: 0;
  top: 130px;
  top: 8.125rem;
  -webkit-transform: rotate(61.1deg);
          transform: rotate(61.1deg);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  width: 201vw;
}
@media screen and (min-width: 768px) {
  .p-bg-line__first::before {
    left: 0;
    top: 4.6875rem;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 120vw;
  }
}

.p-bg-line__second::before {
  background-color: #F9F871;
  position: absolute;
  content: "";
  height: 1px;
  height: 0.0625rem;
  left: 0;
  top: 130px;
  top: 8.125rem;
}

.p-contact {
  background-color: #3d3d3d;
  padding: 64px 0;
  padding: 4rem 0;
}
@media screen and (min-width: 768px) {
  .p-contact {
    padding: 4rem 0 9.375rem;
  }
}

.p-contact-title {
  position: relative;
  text-align: center;
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 0.2em;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .p-contact-title {
    font-size: 1.875rem;
  }
}

.p-section-title--contact::before {
  color: #F9F871;
  content: "contant";
  display: block;
  position: absolute;
  font-size: 50px;
  font-size: 3.125rem;
  top: -15px;
  left: 50%;
  opacity: 0.2;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Noto Serif JP", serif;
  text-transform: capitalize;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .p-section-title--contact::before {
    font-size: 6.875rem;
    top: 55%;
    left: -2%;
    -webkit-transform: translate(0%, -70%);
            transform: translate(0%, -70%);
    letter-spacing: 0.02em;
  }
}

.p-contact__text {
  margin-top: 20px;
  margin-top: 1.25rem;
  letter-spacing: 0.2em;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .p-contact__text {
    text-align: center;
    margin-top: 1.5rem;
    letter-spacing: 0.2em;
  }
}

.l-content {
  margin-top: 100px;
  margin-top: 6.25rem;
}

.p-content {
  padding-top: 50px;
  padding-top: 3.125rem;
}

.p-content-title {
  position: relative;
  text-align: center;
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 0.2em;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .p-content-title {
    font-size: 1.875rem;
  }
}

.p-section-title--content::before {
  color: #F9F871;
  content: "content";
  display: block;
  position: absolute;
  font-size: 50px;
  font-size: 3.125rem;
  top: -50%;
  left: 50%;
  opacity: 0.2;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Noto Serif JP", serif;
  text-transform: capitalize;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .p-section-title--content::before {
    font-size: 6.875rem;
    top: 88%;
    left: 25%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    letter-spacing: 0.02em;
  }
}

.p-content__grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  margin-top: 48px;
  margin-top: 3rem;
}
@media screen and (min-width: 768px) {
  .p-content__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 3rem;
  }
}

.p-content-items {
  position: relative;
}

.p-content-item__card.sp {
  display: block;
}
@media screen and (min-width: 768px) {
  .p-content-item__card.sp {
    display: none;
  }
}

.p-content-item__card.pc {
  display: none;
}
@media screen and (min-width: 768px) {
  .p-content-item__card.pc {
    display: block;
  }
}

.p-content-item__card {
  max-width: 320px;
  max-width: 20rem;
  position: relative;
  width: 100%;
  z-index: 1;
}

.p-content-item__card::after {
  position: absolute;
  background-color: #fff;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.p-content-item__card:hover::after {
  opacity: 0.6;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.p-content-item__card:hover {
  opacity: 0.6;
}

.p-content-item__text {
  width: 100%;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}
.p-content-item__text p {
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 0.15em;
}
@media screen and (min-width: 768px) {
  .p-content-item__text p {
    font-size: 1.5625rem;
    letter-spacing: 0.15em;
  }
}

.p-footer {
  margin: 48px auto;
  margin: 3rem auto;
}
@media screen and (min-width: 768px) {
  .p-footer {
    margin: 2rem auto 1.125rem;
  }
}

@media screen and (min-width: 768px) {
  .p-footer__box {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.p-footer-logo {
  display: block;
  margin: 0 auto;
  max-width: 70px;
  max-width: 4.375rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .p-footer-logo {
    margin-left: 1rem;
    max-width: 6.5625rem;
    padding: 1rem;
  }
}

.p-footer__items.sp {
  display: block;
  text-align: center;
  padding-top: 16px;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .p-footer__items.sp {
    display: none;
  }
}

.p-footer__items.pc {
  display: none;
}
@media screen and (min-width: 768px) {
  .p-footer__items.pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
  }
}

.p-footer__item {
  padding: 5px;
  padding: 0.3125rem;
}
@media screen and (min-width: 768px) {
  .p-footer__item {
    padding: 1rem;
  }
}

.p-footer__item a {
  display: block;
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 0.15em;
  text-decoration: none;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .p-footer__item a {
    font-size: 1rem;
    letter-spacing: 0.2em;
    line-height: 2.1875rem;
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .p-footer__item a::after {
    position: absolute;
    background-color: #F9F871;
    content: "";
    height: 0.0625rem;
    left: 0;
    top: 90%;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .p-footer__item a:hover::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.p-footer__copyright {
  text-align: center;
  padding-top: 28px;
  padding-top: 1.75rem;
}
@media screen and (min-width: 768px) {
  .p-footer__copyright {
    padding-top: 3.75rem;
  }
}

.p-footer__copyright small {
  font-size: 11px;
  font-size: 0.6875rem;
  letter-spacing: 0.12em;
}

.header-logo {
  width: 80px;
  width: 5rem;
  max-width: 100%;
  padding-top: 10px;
  padding-top: 0.625rem;
  padding-left: 2px;
  padding-left: 0.125rem;
  position: relative;
  z-index: 9999;
}
@media screen and (min-width: 768px) {
  .header-logo {
    width: 6.25rem;
    padding-left: 0;
  }
}

.p-header {
  position: fixed;
  width: 100%;
  background-color: rgba(17, 17, 17, .5);
  height: 50px;
  height: 3.125rem;
  z-index: 1000;
}

.p-header__inner {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  padding: 0 1.25rem;
}
@media screen and (min-width: 768px) {
  .p-header__inner {
    padding-left: 2rem;
    padding-right: inherit;
  }
}

@media screen and (min-width: 768px) {
  .p-header__drawer {
    display: none;
  }
}

.p-pc-nav {
  height: inherit;
  display: none;
}
@media screen and (min-width: 768px) {
  .p-pc-nav {
    display: block;
  }
}

.p-pc-nav__items {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  line-height: 50px;
  line-height: 3.125rem;
}

.p-pc-nav__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.p-pc-nav__item a {
  position: relative;
  height: inherit;
  color: #fff;
  display: grid;
  place-items: center;
  padding: 0 16px;
  padding: 0 1rem;
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
}
.p-pc-nav__item a::after {
  position: absolute;
  content: "";
  left: 10px;
  left: 0.625rem;
  width: 80%;
  height: 2px;
  height: 0.125rem;
  background: #F9F871;
  bottom: 8px;
  bottom: 0.5rem;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.p-pc-nav__item a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.p-pc-nav__item.p-pc-nav__item--white a {
  background: #fff;
  color: #333;
  padding: 0 32px;
  padding: 0 2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.p-pc-nav__item.p-pc-nav__item--white a:hover {
  color: #fff;
  background: #333;
}

.p-sp-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #111;
  width: 100%;
  height: 100vh;
  z-index: 8888;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}
@media screen and (min-width: 768px) {
  .p-sp-nav {
    display: none;
  }
}

.p-sp-nav.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.p-sp-nav__items {
  padding-top: 209px;
  padding-top: 13.0625rem;
  padding-bottom: 208px;
  padding-bottom: 13rem;
  height: 100vh;
  overflow: scroll;
}

.p-sp-nav__item {
  width: 100%;
}

.p-sp-nav__item a {
  display: block;
  width: 100%;
  text-align: center;
  padding: 16px 0 16px;
  padding: 1rem 0 1rem;
  color: #fff;
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
}

.p-top {
  background-position: center center;
}

.p-mv__image {
  height: 100vh;
  width: 100%;
  background-size: cover;
}

.p-mv__main {
  background-image: url(../../../../images/top/sp/sp-mv-1.jpg);
}
@media screen and (min-width: 768px) {
  .p-mv__main {
    background-image: url(../../../../images/top/pc/pc-mv-1.jpg);
  }
}

.p-mv__sub1 {
  background-image: url(../../../../images/top/sp/sp-mv-2.jpg);
}
@media screen and (min-width: 768px) {
  .p-mv__sub1 {
    background-image: url(../../../../images/top/pc/pc-mv-2.jpg);
  }
}

.p-mv__sub2 {
  background-image: url(../../../../images/top/sp/sp-mv-3.jpg);
}
@media screen and (min-width: 768px) {
  .p-mv__sub2 {
    background-image: url(../../../../images/top/pc/pc-mv-3.jpg);
  }
}

/* swiper */
@-webkit-keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}
@keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}
.swiper-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide-active .slide-img,
.swiper-slide-duplicate-active .slide-img,
.swiper-slide-prev .slide-img {
  -webkit-animation: zoomUp 7s linear 0s 1 normal both;
          animation: zoomUp 7s linear 0s 1 normal both;
}

.slide-img {
  display: block;
}

.p-top-lead {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  .p-top-lead {
    top: 49%;
    -webkit-transform: translate(-50%, -49%);
            transform: translate(-50%, -49%);
  }
}

.p-top-title {
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 768px) {
  .p-top-title {
    font-size: 3.125rem;
    font-weight: 700;
    letter-spacing: 0.05em;
  }
}

.p-top-subtitle {
  font-size: ren(20);
  font-weight: 700;
  letter-spacing: 0.05em;
  padding-top: 16px;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .p-top-subtitle {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    padding-top: 1.5rem;
  }
}

.p-topics {
  margin-top: 25px;
  margin-top: 1.5625rem;
}
@media screen and (min-width: 768px) {
  .p-topics {
    margin-top: 1.875rem;
  }
}

.p-topics__news {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .p-topics__news {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: auto;
  }
}

.p-topics__items {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .p-topics__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

.p-topics__item {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-topics__date {
  line-height: 2;
}

.p-topics__info {
  border: 1px solid #fff;
  display: inline-block;
  font-size: 14px;
  font-size: 0.875rem;
  padding: 6px 20px;
  padding: 0.375rem 1.25rem;
  margin-left: 32px;
  margin-left: 2rem;
}
@media screen and (min-width: 768px) {
  .p-topics__info {
    margin-left: 3rem;
    white-space: nowrap;
  }
}

.p-topics__text {
  line-height: 1.4;
  margin-top: 16px;
  margin-top: 1rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .p-topics__text {
    line-height: 2;
    margin-left: 3.75rem;
    margin-top: 0;
  }
}

.p-topics__text:hover {
  text-decoration: underline;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.p-topics__btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 28px;
  margin-top: 1.75rem;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .p-topics__btn {
    margin-left: 3.125rem;
    margin-right: 0;
    margin-top: 0;
    max-width: 8.375rem;
  }
}

.l-words {
  position: relative;
}

.p-works {
  margin-top: 70px;
  margin-top: 4.375rem;
}
@media screen and (min-width: 768px) {
  .p-works {
    margin-top: 6.25rem;
  }
}

.p-works-title {
  position: relative;
  text-align: center;
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 0.2em;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .p-works-title {
    font-size: 1.875rem;
  }
}

.p-section-title--works::before {
  color: #F9F871;
  content: "works";
  display: block;
  position: absolute;
  font-size: 50px;
  font-size: 3.125rem;
  top: -50%;
  left: 50%;
  opacity: 0.2;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Noto Serif JP", serif;
  text-transform: capitalize;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .p-section-title--works::before {
    font-size: 6.875rem;
    top: 88%;
    left: 80%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    letter-spacing: 0.02em;
  }
}

.p-works__contents {
  position: relative;
}

.top-works {
  margin-top: 46px;
  margin-top: 2.875rem;
}
@media screen and (min-width: 768px) {
  .top-works {
    margin-top: ram(30);
  }
}

.p-works__background {
  position: absolute;
  background-color: #333;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .p-works__background {
    width: 70%;
    z-index: 0;
  }
}

@media screen and (min-width: 768px) {
  .p-works__wrapper {
    margin: auto;
    width: 100%;
    max-width: 74.375rem;
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
  }
}

.swiper-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-works__items {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .p-works__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.p-works__items--swiper {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .p-works__items--swiper {
    width: 34.8125rem;
    padding: 5.0625rem 0 5rem;
  }
}

.works__imagesslide {
  position: relative;
  width: 100%;
}

.works__imagesslide::before {
  content: "";
  display: block;
  padding-top: 69.838%;
}

.works__imagesslide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-works__items--lead {
  padding: 20px 24px rwm(20);
  padding: 1.25rem 1.5rem rwm(20);
  background-color: #333;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .p-works__items--lead {
    padding: 0 0 0 2rem;
    background: none;
    width: 100%;
    max-width: 37.5rem;
  }
}

.p-works__item--title {
  font-size: 20px;
  font-size: 1.25rem;
  text-align: center;
  letter-spacing: 0.2em;
}
@media screen and (min-width: 768px) {
  .p-works__item--title {
    -moz-text-align-last: left;
         text-align-last: left;
    font-size: 1.5625rem;
    padding-left: 0;
    letter-spacing: 0.05em;
    line-height: 2.5;
  }
}

.p-works__item--text {
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 0.05em;
  margin-top: 24px;
  margin-top: 1.5rem;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .p-works__item--text {
    margin-top: 3rem;
    letter-spacing: 0.05em;
    line-height: 2;
    font-size: 1rem;
  }
}

.p-works__btn {
  margin-top: 16px;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 335px;
  max-width: 20.9375rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .p-works__btn {
    margin-top: 3rem;
    text-align: left;
  }
}

body {
  background: #111;
  color: #fff;
}
/*# sourceMappingURL=styles.css.map */
