@use "global" as *;


// 上に戻るボタン
.c-pagetop {
    position: fixed;
    right: rem(20);
    bottom: rem(40);
    text-indent: -9999;
    margin: 0;

    @include mq("md") {
        right: rem(30);
        bottom: rem(32);
    }
}

.c-pagetop a {
    position: relative;
    display: inline-block;
    width: rem(45);
    height: rem(45);
    background: $white;
    transition: opacity .3s;
}

.c-pagetop a:hover {
    opacity: .3;

}

.c-pagetop a::before {
    position: absolute;
    top: rem(18);
    right: rem(10);
    left: rem(10);
    display: block;
    width: rem(20);
    height: rem(20);
    margin: auto;
    content: '';
    transform: rotate(-45deg);
    border-top: 2px solid $black;
    border-right: 2px solid $black;

    // &hover {
    //     background: $white;
    // }
}


// お問い合わせボタン(共通)
.c-button__text {
    position: relative;
    display: inline-block;
    padding: 16px;
    font-size: rem(20);
    text-decoration: none;
    color: $white;
    border: 1px solid $white;
    transition: color .3s ease;

    &:hover {
        color: $white;

        &::before {
            transform: scaleX(1);
            transform-origin: left;
        }
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: $black;
        transform: scaleX(0);
        transform-origin: right;
        transition: all .3s ease;
        transition-property: transform;
    }
}