@use "global" as *;


// 上に戻るボタン
.c-pagetop {
    position: fixed;
    right: rem(20);
    bottom: rem(40);
    text-indent: -9999;
    margin: 0;

    @include mq("md") {
        right: rem(30);
        bottom: rem(32);
    }
}

.c-pagetop a {
    position: relative;
    display: inline-block;
    width: rem(45);
    height: rem(45);
    background: $white;
    transition: all .3s;
}

.c-pagetop a:hover {
    background: #333;
    opacity: .3;

}

.c-pagetop a::before {
    position: absolute;
    color: $white;
    top: rem(18);
    right: rem(10);
    left: rem(10);
    display: block;
    width: rem(20);
    height: rem(20);
    margin: auto;
    content: '';
    transform: rotate(-45deg);
    border-top: 2px solid #333;
    border-right: 2px solid #333;

}


// お問い合わせボタン(共通)
.c-button__text {
    position: relative;
    display: block;
    padding: rem(11) 0 rem(10);
    margin: 0 auto;
    font-size: rem(20);
    letter-spacing: 0.2em;
    text-decoration: none;
    background: #333;
    color: $white;
    border: 1px solid $white;
    transition: color .3s ease;

    @include mq("md") {
        width: rem(360);
        padding: rem(15) rem(98) rem(16);
        letter-spacing: 0.15em;
    }

    &:hover {
        color: #333;

        &::before {
            transform: scaleX(1);
            transform-origin: left;
        }
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background: $white;
        transform: scaleX(0);
        transform-origin: right;
        transition: all .3s ease;
        transition-property: transform;
        z-index: -1;
    }
}