@use "global" as *;


// 上に戻るボタン
.c-pagetop {
    position: fixed;
    right: rem(20);
    bottom: rem(40);
    text-indent: -9999;
    margin: 0;

    @include mq("md") {
        right: rem(30);
        bottom: rem(32);
    }
}

.c-pagetop a {
    position: relative;
    display: inline-block;
    width: rem(45);
    height: rem(45);
    background: $white;
    transition: opacity .3s;
}

.c-pagetop a:hover {
    opacity: .3;

}

.c-pagetop a::before {
    position: absolute;
    top: rem(18);
    right: rem(10);
    left: rem(10);
    display: block;
    width: rem(20);
    height: rem(20);
    margin: auto;
    content: '';
    transform: rotate(-45deg);
    border-top: 2px solid $black;
    border-right: 2px solid $black;

    // &hover {
    //     background: $white;
    // }
}


// お問い合わせボタン(共通)
.c-button {
    position: relative;
    display: block;
    width: 100%;
    max-width: rem(360);
    height: rem(60);
    overflow: hidden;
    color: $white;
    text-decoration: none;
    border: solid 1px $white;
    background-color: transparent;

    &::before {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
        background-color: $white;
        box-sizing: border-box;
        content: "";
        transform: translateX(-100%);
        transition: transform .5s ease-in-out;
    }
    &hover::before {
        transform: translateX(0);
    }
}