@use "global" as *;

.c-hamburger {
    z-index: 9999;
    width: rem(24);
    height: rem(13);
    padding-top: ren(14);
    padding-bottom: rem(22);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    @include mq(md) {
        display: none;
    }
}

.c-hamburger span {
    position: absolute;
    height: rem(2);
    width: rem(24);
    background: $white;
    transition: all .3s;
}

.c-hamburger span:nth-child(1) {
    top: 0;
}

.c-hamburger span:nth-child(2) {
    top: rem(8);
}

.c-hamburger span:nth-child(3) {
    top: rem(16);
}

#MenuButton {
    &.is-open {
        transform: rotate(360deg);
        transition: all .5s;
    }
    span {
        &:nth-of-type(1) {
            transform: rotate(-45deg);
            top: rem(8);
        }
        &:nth-of-type(2) {
            opacity: 0;
        }
        &:nth-of-type(3) {
            transform: rotate(45deg);
            top: rem(8);
        }
    }
}