@use "global" as *;


.c-hamburger {
    display: block;
    position: absolute;
    width: rem(24);
    height: rem(13);
    right: rem(22);
    z-index: 9998;
    @include mq(md) {
        display: none;
    }
}

.c-hamburger span {
    display: block;
    position: relative;
    width: 100%;
    height: rem(2);
    background-color: $white;
    border-radius: 4px;
    transition: all .4s;
}

.c-hamburger span:nth-child(1) {
    top: 0;
    }
    
.c-hamburger span:nth-child(2) {
    top: rem(7);
    }
    
.c-hamburger span:nth-child(3) {
    top: rem(14);
    }
    // ハンバーガーメニュークリック後のスタイル 
.c-hamburger.is-open span:nth-child(1) {
    top: 8px;
    transform: rotate(-45deg);
}
.c-hamburger.is-open span:nth-child(2) {
    opacity: 0;
}
.c-hamburger.is-open span:nth-child(3) {
    top: 5px;
    transform: rotate(45deg);
}