@use "global" as *;

//line
.p-bg-line {
    position: relative;
    z-index: -1;
}

.p-bg-line__first,
.p-bg-line__second {
    max-width: rem(1280);
    position: relative;
    width: 100%;
}

.p-bg-line__first::before {
    background-color: $yellow;
	position: absolute;
	content: "";
	height: rem(1.5);
	left: 0;
	top: rem(50);
	transform: rotate(61deg);
	transform-origin: left top;
	width: 201vw;

    @include mq("md") {
        left: 0;
		top: rem(-25);
		transform: rotate(40deg);
		width: 120vw;
    }
}

.p-bg-line__second::before {
    background-color: $yellow;
	position: absolute;
	content: "";
	height: rem(1.5);
	right: rem(155);
	top: 0;
	transform: rotate(-75deg);
	transform-origin: right top;
	width: 228vw;

	@include mq("md") {
		right: 0;
		top: rem(-100);
		transform: rotate(-45deg);
		width: 135vw;
	}
}
