@use "global" as *;

.p-contact {
    background-color: #3d3d3d;
    padding: rem(64) 0;

    @include mq("md") {
        padding: rem(64) 0 rem(150);
    }
}

.p-contact-title {
    position: relative;
    text-align: center;
    font-size: 1.25rem;
    letter-spacing: 0.2em;
    font-weight: $regular;

    @include mq("md") {
        font-size: 1.875rem;
    }
}

.p-section-title--contact::before {
    color: $yellow;
    content: 'contant';
    display: block;
    position: absolute;
    font-size: rem(50);
    top: -15px;
    left: 50%;
    opacity: .2;
    transform: translate(-50%, -50%);
    font-family: $second-font-family;
    text-transform: capitalize;//先頭文字のみ大文字
    z-index: 1;
    @include mq("md") {
        font-size: rem(110);
        top: 55%;
        left: -2%;
        transform: translate(0%, -70%);
        letter-spacing: 0.02em;
    }
}


.p-contact__text {
    margin-top: 1.25rem;
    letter-spacing: 0.2em;
    text-align: left;

    @include mq("md") {
        text-align: center;
        margin-top: 1.5rem;
        letter-spacing: 0.2em;
    }

}

