@use "global" as *;

.p-contact {

}

.p-contact__inner {
    width: 100%;
    padding-right: rem(20);
    padding-left: rem(20);
    margin-right: auto;
    margin-left: auto;
}





.c-contact__button {
    width: 100%;
    text-align: center;
    margin-top: rem(40);

    @include mq("md") {
        margin-top: rem(60);
    }
}
