@use "global" as *;

.p-contact {
    width: 100%;
    background-color: #3d3d3d;
    padding: rem(64) 0;

    @include mq("md") {
        padding: rem(64) 0 rem(150);
    }
}

.p-contact__inner {
    padding-right: rem(20);
    padding-left: rem(20);
    margin-right: auto;
    margin-left: auto;
}

.p-contact__title {
    position: relative;
    text-align: center;
    font-size: 1.25rem;
    letter-spacing: 0.2em;
    font-weight: $regular;

    @include mq("md") {
        font-size: 1.875rem;
        
    }

}

.p-contact__title::before {
    content: 'Contant';
    position: absolute;
    font-size: rem(50);
    top: -50px;
    left: 17%;
    opacity: .2;
    font-family: $second-font-family;
    z-index: 1;
    // transform: translateX(-50%);
    @include mq("md") {
        font-size: rem(110);
        top: -75px;
        left: 0;
    }
}

.p-section__title::before {
    color: $yellow;
}


.p-contact__text {
    margin-top: 1.25rem;
    letter-spacing: 0.2em;
    text-align: left;

}
