@use "global" as *;

.p-footer {
  margin: rem(48) auto;
  @include mq("md") {
    margin: rem(32) auto rem(18);
  }
}

.p-footer__box {

  @include mq("md") {
    align-items: center;
    display: flex;
  }
}

.p-footer-logo {
  display: block;
  margin: 0 auto;
  max-width: rem(70);
  width: 100%;

  @include mq("md") {
    margin-left: rem(16);
    max-width: rem(105);
    padding: rem(16);
  }
}

.p-footer__items.sp {
  display: block;
  text-align: center;
  padding-top: rem(16);

  @include mq("md") {
    display: none;
  }
}

.p-footer__items.pc {
  display: none;

  @include mq("md") {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}

.p-footer__item {
  padding: rem(5);

  @include mq("md") {
    padding: rem(16);
  }
}

.p-footer__item a {
  display: block;
  font-size: rem(16);
  letter-spacing: 0.15em;
  text-decoration: none;
  width: 100%;

  @include mq("md") {
    font-size: rem(16);
    letter-spacing: 0.2em;
    line-height: rem(35);
    position: relative;
  }
}

.p-footer__item a::after {

  @include mq("md") {
    position: absolute;
    background-color: $yellow;
    content: "";
    height: rem(1);
    left: 0;
    top: 90%;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .3s ease-in-out;
    width: 100%;
  }
}

.p-footer__item a:hover::after {
  
  @include mq("md") {
    transform: scaleX(1);
  }
}

.p-footer__copyright {
  text-align: center;
  padding-top: rem(28);

  @include mq(md) {
	padding-top: rem(60);
  }
}

.p-footer__copyright small {
  font-size: rem(11);
  letter-spacing: 0.12em;
}