@use "global" as *;

.header-logo {
    width: rem(80);
    max-width: 100%;
    padding-top: 0.625rem;
    padding-left: 0.125rem;
    position: relative;
    z-index: 9999;

    @include mq(md){
        width: rem(100);
        padding-left: 0;
    }
}
.p-header {
    background-color: rgba(17, 17, 17, 0.5);
    height: rem(50);
    z-index: 1000;
    position: fixed;
    width: 100%;
}

.p-header__inner {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 rem(20);
    @include mq(md){
        padding-left: 2rem;
        padding-right: inherit;
    }
}

.p-header__drawer {
    @include mq(md){
        display: none;
    }
}
