@use "global" as *;

.l-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.p-header {
    background-color: $black;
    height: 5rem;
}

.p-header__inner {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.p-header__logo {
    width: 7rem;
    @include mq(md){
        width: 9.5rem;
    }
}