@use "global" as *;

.l-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.c-logo {
    width: rem(70);
    position: relative;
    z-index: 9999;

    @include mq(md){
        width: rem(95);
    }
}

.p-header {
    background-color: $black;
    height: rem(50);
}

.p-header__inner {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 rem(22);
}

