@use "global" as *;

.p-overview {

}

.p-overview-title {
    position: relative;
    text-align: center;
    font-size: 1.25rem;
    letter-spacing: 0.2em;
    font-weight: $regular;

    @include mq("md") {
        font-size: 1.875rem;
    }
}

.p-section-title--overview::before {
    color: $yellow;
    content: 'overview';
    display: block;
    position: absolute;
    font-size: rem(50);
    top: -50%;
    left: 50%;
    opacity: .2;
    transform: translate(-50%, -50%);
    font-family: $second-font-family;
    text-transform: capitalize;//先頭文字のみ大文字
    z-index: 1;
    @include mq("md") {
        font-size: rem(110);
        top: 88%;
        left: 80%;
        transform: translate(-50%, -50%);
        letter-spacing: 0.02em;
    }
}