@use "global" as *;


.p-pc-nav {
    height: inherit;
    display: none;
    @include mq(md){
        display: block;
    }
}

.p-pc-nav__items {
    height: inherit;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    line-height: rem(50);
}

.p-pc-nav__item {
    align-items: center;
    height: inherit;
}

.p-pc-nav__item a {
    position: relative;
    height: inherit;
    color: $white;
    display: grid;
    place-items: center;
    padding: 0 1rem;
    font-size: 1rem;
    letter-spacing: rem(2);

    &::after {
        position: absolute;
        content: '';
        left: 0;
        width: 100%;
        height: rem(2);
        background: $yellow;
        bottom: -1px;
        transform: scale(0, 1);
        transform-origin: right top;
        transition: transform .3s;
    }
    &:hover::after {
        transform: scale(1, 1);
        transform-origin: left top;
    }
}

.p-pc-nav__item.p-pc-nav__item--white a {
    background: $white;
    color: $black;
    padding: 0 rem(32);
    transition: all .3s;

    &:hover {
        color: $white;
        background: $black;

    }
}