@use "global" as *;

.p-top {
    background-position: center center;
    height: 100vh;
}

.p-mv__image {
    height: inherit;
    width: 100%;
    background-size: cover;
}

.p-mv__main {
    background-image: url(/images/top/sp/sp-mv-1.jpg);
    @include mq("md") {
        background-image: url(/images/top/pc/mv-1.jpg);
    }
}

.p-mv__sub1 {
    background-image: url(/images/top/sp/sp-mv-2.jpg);
    @include mq("md") {
        background-image: url(/images/top/pc/mv-2.jpg);
    }
}

.p-mv__sub2 {
    background-image: url(/images/top/sp/sp-mv-3.jpg);
    @include mq("md") {
        background-image: url(/images/top/pc/mv-3.jpg);
    }
}

/* swiper */
@keyframes zoomUp{
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.15);
    }
}

.swiper-wrapper {
    align-items: center;
}

.swiper-slide-active .slide-img,
.swiper-slide-duplicate-active .slide-img,
.swiper-slide-prev .slide-img{ animation: zoomUp 10s linear 0s 1 normal both;  
}
.slide-img img{ display: block;
}


.p-top-lead {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

//   /* ページネーション */
// .swiper-pagination {
//     transform: none;
//     width: 100%;
//     @include mq("md") {
//     transform: translate3d(rem(233), rem(2), 0);
//     width: auto;
//     }
// }