@use "global" as *;

.p-works {
    padding-top: rem(70);

    @include mq('md') {
        padding-top: rem(150);
        padding-left: rem(90);
        padding-right: rem(90);
    }
}

.p-works-title {
    position: relative;
    text-align: center;
    font-size: 1.25rem;
    letter-spacing: 0.2em;
    font-weight: $regular;

    @include mq("md") {
        font-size: 1.875rem;
    }
}

.p-section-title--works::before {
    color: $yellow;
    content: 'works';
    display: block;
    position: absolute;
    font-size: rem(50);
    top: -50%;
    left: 50%;
    opacity: .2;
    transform: translate(-50%, -50%);
    font-family: $second-font-family;
    text-transform: capitalize;//先頭文字のみ大文字
    z-index: 1;
    @include mq("md") {
        font-size: rem(110);
        top: 88%;
        left: 80%;
        transform: translate(-50%, -50%);
        letter-spacing: 0.02em;
    }
}

.p-works__contents {
    margin-top: rem(56);
    position: relative;
    z-index: 2;

    @include mq("md") {
        margin: rem(42) calc(50% - 50vw) 0;
        padding: rem(68) 0 rem(75);
        background: #333;
    }
}

.p-works__body {
    padding: 0;

    @include mq("md") {
        padding: 0 rem(25);
        display: flex;
        align-items: center;
        margin-inline: auto;
    }
}

.p-works__image {
    position: relative;

    @include mq("md") {
        z-index: 2;
        position: relative;
        max-width: rem(557);
        width: 100%;
        margin-right: rem(32);
    }
}

.p-works__image img {
    aspect-ratio: 557 / 389; //ボックスの推奨アスペクト比
    object-fit: cover;
}

.p-works__lead {
    padding: rem(24) rem(20) rem(21);
    background: #333;
    letter-spacing: rem(2);

    @include mq("md") {
        letter-spacing: 0.05em;
        padding: rem(40) 0 rem(40) 0;
    }
}

.p-works__lead--title {
    text-align: center;
    font-size: rem(20);
    font-weight: $regular;
    line-height: rem(30);

    @include mq("md") {
        font-size: rem(25);
        line-height: rem(35);
        text-align: left;
    }
}

.p-works__lead--text {
    padding-top: rem(24);
    font-size: rem(16);
    line-height: rem(25);
    margin-inline: auto;

    @include mq("md") {
        padding-top: ram(40);
        line-height: rem(35);
    }
}