@use "global" as *;

// mainview
@keyframes zoomUp {
    0% {
    transform: scale(1);
    }
    100% {
    transform: scale(1.15);
    }
}

.swiper-wrapper {
    margin: 0 calc(50% - 50vw);
    max-width: 100vw;
    position: relative;
    overflow: hidden;
}

.swiper-slide-active .slide-img,
.swiper-slide-duplicate-active .slide-img,
.swiper-slide-prev .slide-img {
    animation: zoomUp 10s linear 0s 1 normal both;
}

.slide-img img {
    display: block;
    object-fit: cover;
    height: 100vh;
    width: 100vw;
}


// works
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: rem(-20);
    left: rem(-5);

    @include mq("md") {
        bottom: rem(-30);
        left: rem(-20);
    }
}

.swiper-pagination-bullet {
    background: #C4C4C4;
}

.swiper-pagination-bullet-active {
    background: $yellow;
}